.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 20px; /* Adds space between input fields and card borders */
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.input-field:focus {
  outline: none;
  border-color: #007bff;
}


.login-button {
  background-color: #007bff;
  color: white;  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.register-button {
  background-color: #28a745;
  color: white;  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

p {
  color: red;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.register-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}
